html {
    min-height: 100%;
}
body {
    background-color: #530d05;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.1) 100px),url("worldred2.webp");
    background-repeat: no-repeat, repeat;
    text-align: center;
    max-width: 1871px;
    height: auto;
    margin: auto !important;
    float: none !important;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
}
::selection {
    background: darkorange;
}
p {
    color:#ffffff;
}
#rauniandpeter{
    font-size: 10px;
    font-family: 'Verdana';
    font-weight: bold;
    line-height: 0;
    text-align: center;
}
p.inline{
    display: inline;
}
p.url{
    font-weight: bold;
    font-family: 'Verdana';
    font-size: 13px;
    text-align: center;
    line-height: 0;
    margin: 8px 0px 5px 0px;
}
td.greybar{
    min-width: 5px;
    background-color: #A8A8A8;
    /* min-width: 5px; */
}
td.sidebar{
    width: 155px;
    /* height: 98vh; */
    white-space: nowrap;
    background-color: #000066;
}
td.title{
    width: 400px;
    text-align: center;
    background-color:#000066;
    border: 1px;
    border-style: inset;
    border-color: grey;
}
tr {
    vertical-align:top;
}
table.bordered {
    margin-left: auto;
    margin-right: auto;
    border: 5px;
    border-style: outset;
    border-color: grey;
    text-align: center;
}
#cvtable {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    border: 5px;
    border-style: outset;
    border-color: grey;
}
#hugeborder {
    margin-left: auto;
    margin-right: auto;
    border: 12px;
    border-style: outset;
    border-color: grey;
}
table.smallborder {
    margin-left: auto;
    margin-right: auto;
    border: 3px;
    border-style: outset;
    border-color: grey;
    text-align: center;
}
img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img.button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3px;
}
img.paletteleft {
    width: 70px;
    height: 30px;
    padding-right: 50px;
}
img.paletteright {
    width: 70px;
    height: 30px;
    padding-left: 50px;
}
p.message{
    font-family: 'Verdana';
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}
#selectionbelow{
    font-family: 'Verdana';
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    display: inline;
}
img.borderwithpadding {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1px;
    border: 1px inset grey;
}
img.whiteborder {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
}
img.greenborder {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #00ff00;
}
#email:hover{
    border: 1px solid yellow;
}
#backtotop{
    font-family: 'Arial Black';
    color:#ffff00;
    font-size: 10px;
    font-weight: bold;
}
#backtotop:hover{
    color:black;
    background-color: #ffff00;
}
table.updated {
    margin-left: auto;
    margin-right: auto;
    border: 1px;
    border-style: outset;
    border-color: grey;
}
p.updated {
    font-family: 'Verdana';
    font-size: 10px;
    line-height: 0;
    font-weight: bold;
    margin: 5px 0px 5px 0px;
}
img.blueborder {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid blue;
}
img.borderlink:hover{
    outline: 1px solid #ffff00;
    outline-offset: -1px;
}
#artistdir {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -5px;
    border: 3px solid blue;
    vertical-align: top;
}
#artistdir:hover{
    border: 3px solid yellow;
}
p.largegreenitalicunderlined{
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    color:#00ff00;
    font-family:"Arial Black";
    font-weight: bold;
    font-style: italic;
    font-size:24px;
    text-align: center;
    line-height: 1;
    margin: 5px 0px 30px 0px;
}
p.smallgreenitalicunderlined{
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    color:#00ff00;
    font-family:"Arial Black";
    font-weight: bold;
    font-style: italic;
    font-size:16px;
    text-align: center;
    line-height: 0.5;
    /* margin: 5px 0px 0px 0px; */
}
p.evensmallergreenitalicunderlined{
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    color:#00ff00;
    font-family:"Arial Black";
    font-weight: bold;
    font-style: italic;
    font-size:10px;
    text-align: center;
    line-height: 2.5;
    margin-top: -12px;
}
p.smallgreenunderlined{
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    color:#00ff00;
    font-family:"Arial Black";
    font-weight: bold;
    font-size:10px;
    text-align: center;
    line-height: 0.6;
    padding-bottom: 5px;
}
#seeordermenu{
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    color:#00ff00;
    font-family:"Arial Black";
    font-weight: bold;
    font-size:10px;
    text-align: center;
    line-height: 1;
}
#seeordermenu:hover{
    color:black;
    background-color: #00ff00;
}
p.yellowitalicunderlined{
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    color:#ffff00;
    font-family:"Arial Black";
    font-weight: bold;
    font-style: italic;
    font-size:16px;
    line-height: 0;
    margin: 0px 0px 12px 0px;
    text-align: center;
}
p.smallyellowitalicunderlined{
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    color:#ffff00;
    font-family:"Arial Black";
    font-weight: bold;
    font-style: italic;
    font-size: 13px;
    line-height: 2.9;
    text-align: center;
}
p.cvheader{
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: white;
    color:#ffff00;
    font-family:"Verdana";
    font-weight: bold;
    font-style: italic;
    font-size:13px;
    line-height: 1;
    text-align: center;
    margin-top: -1px;
}
.centered {
    margin: auto;
    text-align: center;
}
p.smallerspace{
    margin-top: 10px;
    margin-bottom: 10px;
}
#abbottssongs{
    margin-top: 4px;
    margin-bottom: 4px;
}
td.smallinset {
    border: 1px;
    border-style: inset;
    border-color: grey;
    padding: 1px;
    vertical-align: middle;
}
#smallhillary{
    padding-bottom: 13px;
}
#mediumhillary{
    padding-bottom: 5px;
    padding-top: 5px;
}
#largehillary{
    padding-top: 13px;
}
#wad{
    margin-bottom: -3px;
}
p.paintingname {
    font-weight: bold;
    font-family:'Verdana';
    font-size: 12px;
    margin: 0px;
}
#byrowneyabbott{
    font-weight: bold;
    font-family:'Verdana';
    font-size: 10px;
    margin: 0px;
}
p.smallgreen {
    color:#00ff00;
    margin: 0px;
    font-size:10px;
    font-weight: bold;
    font-family:"Arial Black";
}
#thankyou{
    font-style: italic;
    color:#00ff00;
    margin: 0px;
    font-size:13px;
    font-weight: bold;
    font-family:"Arial Black";
}
img.main {
    padding: 1px;
    border: 1px inset grey;
    margin-bottom: -5px;
}
#sing{
    width: 40px;
    height: 50px;
}
/* #sing:hover{ */
/*     background-color: yellow; */
/* } */
#welcome{
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    font-size:10px;
    font-family:"Verdana";
    font-weight: bold;
    text-align: center;
    line-height: 0;
    padding-bottom: 3px;
}
#animatedbanners{
    font-size:10px;
    font-family:"Verdana";
    font-weight: bold;
    text-align: center;
    line-height: 0;
    margin-bottom: 5px;
}
#greenlinktext{
    color: #00ff00;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    font-size:10px;
    font-family:"Verdana";
    font-weight: bold;
    text-align: center;
    line-height: 0;
    margin-bottom: 7px;
}

img.painting{
    margin-left: 25px;
    margin-right: 25px;
    cursor: pointer;
    transition: 0.3s;
    vertical-align: middle;
}

img.painting:hover {filter: brightness(120%);}

img.paintingwhiteborder{
    margin-left: 25px;
    margin-right: 25px;
    cursor: pointer;
    transition: 0.3s;
    vertical-align: middle;
    border: 5px solid white;
}

img.paintingwhiteborder:hover {filter: brightness(120%);}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 10vh;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.8);
    /* Black w/ opacity */
}

.modal-content {
    margin: auto;
    display: block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #FFFFFF;
    font-family:"Verdana";
    font-weight: bold;
    font-size: 13px;
    padding: 10px 0;
    height: 150px;
    white-space: pre-wrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#imgwithborder,
#caption,
#price
{
    animation-name: zoom;
    animation-duration: 0.6s;
    backface-visibility: hidden;
}

@keyframes zoom {
    from {
	transform: scale(0)
    }
    to {
	transform: scale(1)
    }
}

.close {
    -webkit-tap-highlight-color: transparent;
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 45px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .modal-content {
	width: 100%;
    }
}

span.captiontext{
    display:none;
}
span.price{
    color:#ffff00;
}
span.sold{
    color:red;
}
img.largeVer{
    display:none;
}
p.sidebarcontent{
    margin-top: -3px;
}
a:link {
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    font-family:"Verdana";
    text-decoration-line: none;
}
a:visited {
    color: #FFFFFF;
}
/* a:hover { */
/*     font-weight: bold; */
/*     color: #000000; */
/*     background-color: #ffff00; */
/*     font-size: 13px; */
/*     font-weight: bold; */
/*     font-family:"Verdana"; */
/* } */
a:active {
    color: #cc33ff;
}
a.textlink:hover{
    color:black;
    background-color: #ffff00;
}
td.cv {
    background-color:#000066;
    border: 1px;
    border-style: inset;
    border-color: grey;
}
#cvname{
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    font-family: Arial Black;
    line-height: 0;
}
#cv{
    color: yellow;
    font-weight: bold;
    font-family: Arial;
    font-size: 13px;
    text-decoration-line: underline;
    text-decoration-color: yellow;
    line-height: 0;
    margin-top: 18px;
    margin-bottom: 15px;
}
#born{
    font-size:13px;
    font-family: Arial;
    font-weight: bold;
    line-height: 0;
    margin-top: 8px;
    margin-bottom: 15px;
}
p.cvtext{
    font-family: Verdana;
    font-weight: bold;
    font-size: 13px;
    line-height: 1.2;
    margin-top: -10px;
    margin-bottom: -2px;
}
p.underlined{
    font-family: Arial;
    font-weight: bold;
    font-size: 13px;
    text-decoration-line: underline;
    text-decoration-color: white;
    text-align: center;
}
#smallunderlined{
    font-family: Verdana;
    font-weight: bold;
    font-size: 10px;
    text-decoration-line: underline;
    text-decoration-color: white;
    text-align: center;
    line-height: 0
}
img.borderedimg{
    margin-bottom: -5px;
}
img.borderedpainting{
    margin-bottom: -5px;
    transition: 0.3s;
    cursor: pointer;
}
img.borderedpainting:hover {filter: brightness(120%);}

p.ordertxt{
    font-size: 10px;
    font-family: Verdana;
    text-align: center;
    font-weight: bold;
    margin-bottom: -5px;
}
p.orderbigprice{
    font-size: 13px;
    color: #ffff00;
    font-family: Verdana;
    font-weight: bold;
}
p.ordersmallprice{
    font-size: 13px;
    color: #ffff00;
    font-family: Arial;
    text-align: center;
    vertical-align: bottom;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
}
p.ordersoldprice{
    font-size: 13px;
    color: #ffff00;
    font-family: Arial;
    text-align: center;
    vertical-align: bottom;
    padding-top: 20px;
    font-weight: bold;
    line-height: 1.5;
    margin: 0px;
}
p.ordersold{
    font-size: 13px;
    color: red;
    font-family: Arial;
    line-height: 1;
    margin: 0px;
    padding-bottom: 20px;
    font-weight: bold;
}
#nudesittingsold{
    font-size: 13px;
    color: red;
    font-family: Arial;
    line-height: 1;
    margin: 0px;
    font-weight: bold;
}
#portraitstd{
    vertical-align: top;
}
#listedartistdiv{
    padding-top: 75px;
}
#portraitscontent{
    padding-top: 20px;
    padding-bottom: 20px;
}
#allprices{
    font-size: 10px;
    font-family: Verdana;
    text-align: center;
    font-weight: bold;
    line-height: 2.5
}
#unframed{
    font-size: 10px;
    font-family: Verdana;
    text-align: center;
    font-weight: bold;
    text-decoration-line: underline;
    text-decoration-color: white;
    line-height: 0;
}
#paintedby{
    font-size: 10px;
    font-family: Verdana;
    text-align: center;
    font-weight: bold;
    margin-bottom: 3px;
}
#hillarytxt2{
    font-size: 10px;
    font-family: Verdana;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0px;
}
#portraits{
    font-size: 19px;
    font-family: Verdana;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-color: white;
    /* font-weight: bold; */
}
#listedartist{
    font-family: 'Verdana';
    font-size: 10px;
    font-weight: bold;
    text-decoration-line: underline;
    text-decoration-color: #00ff00;
    color: #00ff00;
    text-align: center;
    line-height: 0;
}
img.roundlink:hover
{
    box-shadow: 0px 0px 5px #fff000;
    border-radius: 5px;
}
img.linkborder:hover
{
    outline: 1px solid #fff000;
}
img.awardlink{
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 5px;
    cursor: pointer;
    vertical-align: middle;
}
img.awardlink:hover
{
    /* filter: drop-shadow(0px 0px 5px #fff000); */
    box-shadow: 0px 0px 5px #fff000;
}
img.disabledlink{
    filter: grayscale(100%);
}
#abbottsongsitalic{
    font-family: Verdana;
    font-size: 13px;
    font-style: italic;
    font-weight: bold;
    line-height: 0;
    margin-bottom: 8px;
}

.nav-button {
    -webkit-tap-highlight-color: transparent;
    position: absolute;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    background: none;
    border: none;
    padding: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
}

.nav-button:hover,
.nav-button:focus {
    text-decoration: none;
    cursor: pointer;
}

@media (hover: hover) {
    .nav-button:hover {
        background-color: rgba(255, 255, 255, 0.2);
        color: #bbb;
    }
}

.nav-button:active {
    color: #bbb;
}

.prev {
    left: 35px;
}

.next {
    right: 35px;
}
#filter {
    display: block;
    width: 0px;
    height: 0px;
}
.scene {
    perspective: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 6px;
}

.cube {
    transform-style: preserve-3d;
    position: relative;
    width: 108px;
    height: 129px;
    animation: rotate 13s infinite linear;
    transform-origin: center center;
}

.side {
    position: absolute;
    width: 108px;
    height: 129px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    filter: url(#sharpen);
}

.left {
    transform: translateX(-54px) rotateY(90deg) scaleX(-1);
    background-image: url('music1.webp');
}

.right {
    transform: translateX(54px) rotateY(90deg);
    background-image: url('clowns21.webp');
}

.front {
    transform: translateZ(-54px) rotateY(180deg);
    background-image: url('tommy1.webp');
}

.back {
    transform: translateZ(54px) rotateY(0deg);
    background-image: url('tramp1.webp');
}

@keyframes rotate {
    0% { transform: rotateY(0deg); }
    18.75% { transform: rotateY(0deg); }
    21.875% { transform: rotateY(90deg); }
    43.75% { transform: rotateY(90deg); }
    46.875% { transform: rotateY(180deg); }
    68.75% { transform: rotateY(180deg); }
    71.875% { transform: rotateY(270deg); }
    93.75% { transform: rotateY(270deg); }
    96.875% { transform: rotateY(360deg); }
    100% { transform: rotateY(360deg); }
}
